
<md-sidenav  md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >

  <div layout="column" >

    <div class="my-video">
      test
    </div>

  </div>

  <md-content flex class="nav">

    <div flex="noshrink" layout-margin>

      <div class="nav-content md-whiteframe-z2 chat-message">

        <header layout="row" layout-align="start center">
          <md-icon md-svg-icon="chat" style="margin:0 10px;"></md-icon>
          <h2>Chat Message</h2>
        </header>

        <md-content class="md-whiteframe-z2" layout="row">
          test
        </md-content>

        <div>
          input area
        </div>        

      </div>

    </div>
  </md-conten>

</md-sidenav>

<div layout="column" class="relative" layout-fill role="main">

  <md-toolbar layout="row">
    <md-button class="menu" hide-gt-sm ng-click="rc.toggleNav()" aria-label="user contents">
      <md-icon md-svg-icon="menu" ></md-icon>
    </md-button>
    <h1>Lets Meeting</h1>
  </md-toolbar>

</div>


